
{% load static %}
{% include './common/head.html %}
<body>
  <!-- ======= Header ======= -->
   {% include './common/menu.html %}


  <main id="main" class= "mt-5">
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h1>login</h1>
            <h4 style="color : red;",({error})></h4>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div >
            <div class="row mt-5">
              <div style="width:100%">
                <div class="col-lg-5 mt-5 mt-lg-0" style=" margin:auto auto">

                  <form action="" method="POST" >
                      {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                        <input type="username" class="form-control" name="username" id="username" placeholder="Username" data-rule="username" data-msg="Please enter a valid user"/>
                        <div class="validate"></div>
                        </div>
                    </div>
                        <div class="col-md-6 form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-rule="password"/>
                        <div class="validate"></div>
                        </div>

                    <input style="color: gold;
                               background: black" type="submit" value="Login" class="btn btn-secondary btn-block">
                  </form>
                  <div class="section-title">

                      <p style="margin-top: 20px;text-decoration:underline;">
                          Click here for<a href ="/sign/"> new registration</a> </p>
                  </div >

                </div>
              </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->



  {% include './common/foot.html%}